@font-face {
    font-family: "Strandall";
    src: url("StrandallDemo-nRXJ0.ttf") format("truetype");
}
:root {
    --font-body-family: "Strandall", sans-serif;
    --font-heading-family: "Strandall", sans-serif;
}